@import "../../scss/breakpoints";

.js-slider {
  .splide {
    &__arrow {
      width: 48px;
      height: 48px;
      opacity: 1;
      transition: all 0.25s ease;

      svg {
        width: 40px;
        height: 28px;
      }
    }
  }
}
