@import "../../scss/mixins/flexbox";
@import "../../scss/mixins/text-styles";

.button {
  $block-name: &; // #{$block-name}__element

  @include button-title;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 11px 20px;
  color: var(--front-invert);
  text-decoration: none;
  background: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all var(--transition-delay);
  appearance: none;

  .icon {
    width: 20px;
    height: 20px;

    &--left {
      margin-right: 10px;
    }
  }

  &__title {
    display: block;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &:focus {
    outline: 3px solid var(--brand-primary-light);
  }

  &--primary {
    background: var(--brand-primary);
    border: 1px solid var(--brand-primary);

    &:hover {
      background: var(--brand-primary-dark);
    }

    &[disabled],
    &#{$block-name}--disabled {
      background: var(--brand-primary-light);
      border-color: var(--brand-primary-light);
    }
  }

  &--secondary {
    color: var(--front-primary);
    background: var(--back-secondary);
    border: 1px solid var(--border-button);

    &:hover {
      border-color: var(--front-primary);
    }

    &[disabled],
    &#{$block-name}--disabled {
      color: var(--front-tertiary);
      border-color: var(--border-button-disabled);
    }
  }

  &--disabled {
    pointer-events: none;
  }

  &--help {
    padding: 0;
    font-size: 18px;

    .icon {
      width: 44px;
      height: 44px;
      transform-origin: center;
      animation: anime-heart var(--transition-delay-animation) ease-in-out infinite alternate;
    }
  }

  &--icon {
    width: 32px;
    height: 32px;
    padding: 5px;
  }
}

@keyframes anime-heart {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
