@import "../../scss/mixins/grid";

.nav {
  $block-name: &; // #{$block-name}__element

  font-size: 18px;
  &__row {
    display: flex;
    align-items: center;
  }

  &__item {
    text-decoration: none;
    & + #{$block-name}__item {
      margin-left: 40px;
    }

    &:hover {
      opacity: .8;
    }
  }
}
