//- Все примеси в этом файле должны начинаться c имени блока (nav)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку

mixin nav(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +nav('some-mod')

  -
    // список модификаторов
    var allMods = '';
    var listArray = [
      'О Фонде',
      'Программы',
      'Благодарности',
      'Пресс-центр',
      'Мероприятия',
      'Контакты'
    ];

    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' nav--' + modsList[i].trim();
      }
    }

  nav.nav.nav--desktop(class=allMods, aria-label='Главное меню')&attributes(attributes)
    .nav__row
      each variable in listArray
        a.nav__item(href='#')= variable
