@import "../../scss/breakpoints";

.logotype {
  $block-name: &; // #{$block-name}__element
  $media-mi: $screen-mi + 40px;

  display: inline-flex;
  align-items: center;
  color: var(--color-text-2);
  font-weight: 500;
  font-size: 16px;
  font-family: var(--font-secondary);
  line-height: 100%;
  text-decoration: none;

  //>= 992px
  @media screen and (min-width: $screen-tl) {
    font-size: 24px;
  }

  @media screen and (max-width: $media-mi) {
    font-size: 14px;
  }

  &__icon {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    fill: var(--color-gold);
    //>= 992px
    @media screen and (min-width: $screen-tl) {
      width: 75px;
      height: 75px;
      margin-right: 20px;
    }

    //>= 360px
    @media screen and (max-width: $media-mi) {
      width: 34px;
      height: 34px;
    }
  }
}
