extends ../templates/default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'
  -
    navListArray = [
      {
        url: 'main.html',
        label: 'Главная страница'
      }
    ]

block templates
    style.
      .nav-page {
        display: flex;
        flex-direction: column;
        padding: 50px 0px;
      }

      .nav-page__item + .nav-page__item {
        margin-top: 20px;
      }

block content
  .container
    nav.nav-page
      each variable in navListArray
        a(href=variable.url).nav-page__item=variable.label
