@import "../../scss/mixins/grid";
@import "../../scss/mixins/flexbox";
@import "../../scss/breakpoints";

.menu {
  position: relative;
  z-index: 5;
  padding: 30px 0;
  color: #fff;

  //>= 992px
  @media screen and (min-width: $screen-tl) {
    display: block;
  }

  //>= 0px
  @media screen and (min-width: $screen-m) {
    display: none;
  }

  &__row {
    @include flex-center-sb();

    margin: -10px;
  }

  &__col {
    margin: 10px;
  }

  a {
    color: inherit;
  }
}
