.color {
  &-youtube {
    color: var(--color-youtube);
    fill: var(--color-youtube);
  }

  &-ok {
    color: var(--color-ok);
    fill: var(--color-ok);
  }

  &-vk {
    color: var(--color-vk);
    fill: var(--color-vk);
  }

  &-telegram {
    color: var(--color-telegram);
    fill: var(--color-telegram);
  }

  &-icon {
    &-1 {
      color: var(--color-icon-1);
      fill: var(--color-icon-1);
    }

    &-4 {
      color: var(--color-icon-4);
      fill: var(--color-icon-4);
    }
  }

  &-text {
    &-5 {
      color: var(--color-text-5) !important;
      fill: var(--color-text-5) !important;
    }
  }
}
