@use "sass:color";

:root {
  --color-text-1: #7e7e7e;
  --color-text-2: #000;
  --color-text-5: #d91869;
  --color-black: #000;
  --color-white: #fff;
  --color-gold: #f2a84f;
  --color-youtube: #ee3a3a;
  --color-ok: #ff7a00;
  --color-vk: #0077ff;
  --color-telegram: #3390ec;

  --color-icon-1: #000;
  --color-icon-4: #d91869;

  --color-stroke-2: #c7c7c7;

  --body-color: var(--front-primary);
  --body-bg: var(--back-primary);
  --body-bg-10: #f3f3f3;
  --font-base: var(--font-sans);
  --font-sans:
    'Roboto Flex', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu",
    "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-serif: Georgia, "Times New Roman", Times, serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, "Courier New", monospace;
  --font-secondary: 'Noto Sans Medium', 'Roboto Flex', Arial, sans-serif;
  --font-tertiary: 'Source Serif Pro', 'Roboto Flex', Arial, sans-serif;
  --font-size-root: 100%;
  --font-size-base: 1rem;
  --font-weight-base: 400;
  --line-height-base: 1.25;
  --transition-delay: 0.2s;
  --transition-delay-animation: 0.7s;
}

@media (prefers-color-scheme: light) {
  :root {
    // Семантические цвета

    --brand-primary: #636cff;
    --brand-primary-light: #9499ff;
    --brand-primary-dark: #353fe8;
    --front-primary: rgb(60 60 67 / 92%);
    --front-secondary: rgb(60 60 67 / 70%);
    --front-tertiary: rgb(60 60 67 / 40%);
    --front-invert: #fff;
    --back-primary: #fff;
    --back-secondary: #f6f6f7;
    --back-tertiary: #e0e0e0;
    --back-transparency: rgb(255 255 255 / 70%);
    --color-warning: #f43f5e;
    --color-icon-1: #000;
    --color-text-2: #000;


    // Оформление

    --border-primary: #e7e7e8;
    --border-button: rgb(60 60 67 / 30%);
    --border-button-disabled: rgb(60 60 67 / 15%);
    --divider: rgb(60 60 67 / 12%);
    --gradient: linear-gradient(91.75deg, #646cff 0%, #bd34fe 100%);
    --link-hover-color: #636cff;
    --shadow-default: 0 0 10px rgb(0 0 0 / 10%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    // Семантические цвета

    --brand-primary: #636cff;
    --brand-primary-light: #23253f;
    --brand-primary-dark: #353fe8;
    --front-primary: rgb(255 255 255 / 92%);
    --front-secondary: rgb(255 255 255 / 70%);
    --front-tertiary: rgb(255 255 255 / 40%);
    --front-invert: #cbcbe0;
    --back-primary: #19191e;
    --back-secondary: #1f1f25;
    --back-tertiary: #292932;
    --back-transparency: rgb(25 25 30 / 70%);
    --color-warning: #f43f5e;
    --color-icon-1: #fff;
    --color-text-2: #fff;


    // Оформление

    --border-primary: #27272f;
    --border-button: rgb(255 255 255 / 30%);
    --border-button-disabled: rgb(255 255 255 / 15%);
    --divider: rgb(255 255 255 / 12%);
    --gradient: linear-gradient(91.75deg, #646cff 0%, #bd34fe 100%);
    --link-hover-color: #636cff;
    --shadow-default: 0 0 10px rgb(255 255 255 / 10%);
  }
}
