//- Все примеси в этом файле должны начинаться c имени блока (header)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку

mixin header(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' header--' + modsList[i].trim();
      }
    }

  header.header(class= allMods)&attributes(attributes)
    .header__container.container
      .header__row
        //left
        .header__col.--left
          +logotype()

        //right
        .header__col.--right
          .header-groups
            +button-heart.header__heart.header-groups__item
            +sidebar.header-groups__item
            +social-network.header-groups__item
