@import "../../scss/mixins/grid";
@import "../../scss/mixins/flexbox";

.header {
  $block-header: &; // #{$block-name}__element

  //>= 992px
  @media screen and (min-width: $screen-tl) {
    padding: 20px 0px;
  }

  //>= 0px
  @media screen and (min-width: $screen-m) {
    padding: 15.5px 0px;
  }

  &__row {
    margin: -5px;
    @include flex-center-sb;
  }

  &__col {
    margin: 5px;
    &.--left {
      //>= 992px
      @media screen and (min-width: $screen-tl) {
        padding-right: 71px;
        border-right: 1px solid #f3f3f3;
      }
    }

    &.--right {
      @include flex-center-fe;
    }
  }

  &-groups {
    $block-groups: &;

    display: inline-flex;
    align-items: center;
    &__item {
      & + #{$block-groups}__item {
        margin-left: 8px;
      }
    }
  }

  &__heart {
    //>= 992px
    @media screen and (min-width: $screen-tl) {
      display: none;
    }

    //>= 0px
    @media screen and (min-width: $screen-m) {
      display: inline-flex;
    }
  }
}
